<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-primary">
                      <div class="row">
                          <div class="col-md-6">
                              <h4 class="card-title ">Produtos</h4>
                              <p class='card-category'>Lista de produtos cadastrados</p>
                          </div>
                          <div class='col-md-6'> 
                              <button mat-fab color='secondary' class="pull-right" type="button" [routerLink]="['create']" >
                                            <i class="material-icons" style="color:#fd5656">add</i>                                    
                              </button>
                          </div>
                      </div>
                  </div>
                  <div class="card-body">
                      <app-list-placeholder *ngIf='loading'></app-list-placeholder>
                      <div class="table-responsive" *ngIf='!loading'>
                          <table class="table">
                              <thead class="text-danger">
                                  <th>
                                      ID
                                  </th>
                                  <th>
                                      Nome
                                  </th>
                                  <th>
                                      Descrição
                                  </th>
                                  <th>
                                      Preço
                                  </th>
                                  <th>
                                      Código
                                  </th>
                              </thead>
                              <tbody>
                                <tr *ngFor='let product of products' [routerLink]="['edit', product.id]">
                                    <td>{{product.id}}</td>
                                    <td>{{product.title}}</td>
                                    <td>{{product.description}}</td>
                                    <td>{{product.defaultPrice}}</td>
                                    <td>{{product.barCode}}</td>
                                </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
