<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Criar Perfil</h4>
                        <p class="card-category">Complete seu perfil</p>
                    </div>
                    <div class="card-body">
                        <form (submit)='create()'>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Nome" name='name'[(ngModel)]='user.name' required>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Username" name='userName'[(ngModel)]='user.userName' required>
                                  </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                      <input matInput placeholder="E-mail" name='email' type="email" [(ngModel)]='user.email' required>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Senha" name='password' type="password" [(ngModel)]='user.password' required>
                                  </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Confirme a senha" name='confirmPassword' type="password" required>
                                  </mat-form-field>
                                </div>
                            </div>
                            <button mat-raised-button type="button"[routerLink]="['/users']">Voltar</button>
                            <button mat-raised-button type="submit" class="btn btn-info pull-right" >Cadastrar</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  