<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header card-header-primary">
                      <h4 class="card-title">Loja</h4>
                      <p class="card-category">Cadastre sua loja</p>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-9">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Endereço" [(ngModel)]='store.address.streetAddress'>
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Número" type='number' [(ngModel)]='store.address.number'>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                              <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Cidade" [(ngModel)]='store.address.city'>
                              </mat-form-field>
                          </div>
                          <div class="col-md-6">
                              <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Estado" [(ngModel)]='store.address.state'>
                              </mat-form-field>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                              <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Pais" [(ngModel)]='store.address.country'>
                              </mat-form-field>
                          </div>
                          <div class="col-md-6">
                              <mat-form-field class="example-full-width">
                                  <input matInput placeholder="CEP" type='number' [(ngModel)]='store.address.zipCode'>
                              </mat-form-field>
                          </div>
                        </div>
                          <button mat-raised-button type="button"[routerLink]="['/products']">Voltar</button>
                          <button mat-raised-button type="button" class="btn btn-info pull-right" (click)='create()'>Cadastrar</button>
                          <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    