<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-primary">
                      <div class="row">
                          <div class="col-md-6">
                              <h4 class="card-title ">Usuários</h4>
                              <p class='card-category'>Lista de usuários cadastrados</p>
                          </div>
                          <div class='col-md-6'> 
                              <button mat-fab color='secondary' class="pull-right" type="button" [routerLink]="['create']" >
                                            <i class="material-icons" style="color:#fd5656">add</i>                                    
                              </button>
                          </div>
                      </div>
                  </div>
                  <div class="card-body">
                     <app-list-placeholder *ngIf='loading'></app-list-placeholder>
                      <div class="table-responsive" *ngIf='!loading'>
                          <table class="table">
                              <thead class=" text-danger">
                                  <th>
                                      ID
                                  </th>
                                  <th>
                                      Nome
                                  </th>
                                  <th>
                                      Username
                                  </th>
                                  <th>
                                      Email
                                  </th>
                              </thead>
                              <tbody>
                                <tr *ngFor='let user of users'>
                                    <td>{{user._id}}</td>
                                    <td>{{user.name}}</td>
                                    <td>{{user.userName}}</td>
                                    <td>{{user.email}}</td>
                                </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
