<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-primary">
                      <h4 class="card-title">Loja</h4>
                      <p class="card-category">Edite as informações da loja</p>
                      <ul class="nav nav-tabs" data-tabs="tabs">
                        <li class="nav-item" (click)='setActiveTab(1)'>
                            <a mat-button class="nav-link active" data-toggle="tab">
                                <i class="material-icons">store</i> Dados Cadastrais
                                <div class="ripple-container"></div>
                            </a>
                        </li>
                        <li class="nav-item" (click)='setActiveTab(2)'>
                            <a mat-button class="nav-link" data-toggle="tab">
                                <i class="material-icons">shopping_cart</i> Produtos
                                <div class="ripple-container"></div>
                            </a>
                        </li>
                    </ul>
                  </div>
                <div *ngIf='activeTab === 1' class="card-body">
                    <app-form-placeholder *ngIf='loading'></app-form-placeholder>
                    <div *ngIf='!loading'>
                        <div class="row">
                            <div class="col-md-9">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Endereço" [(ngModel)]='store.address.streetAddress'>
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Número" type='number' [(ngModel)]='store.address.number'>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                              <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Cidade" [(ngModel)]='store.address.city'>
                              </mat-form-field>
                          </div>
                          <div class="col-md-6">
                              <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Estado" [(ngModel)]='store.address.state'>
                              </mat-form-field>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                              <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Pais" [(ngModel)]='store.address.country'>
                              </mat-form-field>
                          </div>
                          <div class="col-md-6">
                              <mat-form-field class="example-full-width">
                                  <input matInput placeholder="CEP" type='number' [(ngModel)]='store.address.zipCode'>
                              </mat-form-field>
                          </div>
                        </div>
                          <button mat-raised-button type="button"[routerLink]="['/stores']">Voltar</button>
                          <button mat-raised-button type="button" class="btn btn-info pull-right" (click)='edit()'>Editar</button>
                          <div class="clearfix"></div>
                    </div>
                    </div>
                <div *ngIf='activeTab === 2' class="card-body">
                    <app-product-typeahead (response)='addProduct($event)'></app-product-typeahead>
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="text-danger">
                                <th>
                                    Nome
                                </th>
                                <th>
                                    Descrição
                                </th>
                                <th>
                                    Preço Padrão
                                </th>
                                <th>
                                    Preço
                                </th>
                                <th>
                                    Código
                                </th>
                                <th>
                                    Quantidade
                                </th>
                                <th>
                                    Usar Preço Padrão?
                                </th>
                                <th></th>
                                <th></th>
                            </thead>
                            <tbody>
                              <tr *ngFor='let product of productsList'>
                                  <td>{{product.title}}</td>
                                  <td>{{product.description}}</td>
                                  <td>{{product.defaultPrice}}</td>
                                  <td *ngIf='!product.edit'>{{product.price}}</td>
                                  <td *ngIf='product.edit'>
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Preço" type='number' [(ngModel)]='product.price'>
                                    </mat-form-field>
                                  </td>
                                  <td>{{product.barCode}}</td>
                                  <td *ngIf='!product.edit'>{{product.availableQuantity}}</td>
                                  <td *ngIf='product.edit'>
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Quantidade" type='number' [(ngModel)]='product.availableQuantity'>
                                    </mat-form-field>
                                  </td>
                                  <td style='text-align: center;padding-bottom: 34px;'>
                                      <input class="form-check-input" type="checkbox" [checked]="product.useDefaultPrice" (change)="product.useDefaultPrice = !product.useDefaultPrice">
                                  </td>
                                  <td *ngIf='!product.edit'>
                                    <i class="material-icons action" (click)='product.edit = true'>edit</i>
                                  </td>
                                  <td *ngIf='!product.edit'>
                                    <i class="material-icons action" (click)='removeProduct(product.id)'>delete</i>
                                  </td>
                                  <td *ngIf='product.edit'>
                                    <i class="material-icons action" (click)='editProduct(product)' >check</i>
                                  </td>
                              </tr>
                            </tbody>
                        </table>
                    </div>
                    <button mat-raised-button type="button"[routerLink]="['/stores']">Voltar</button>
                    <!-- <button mat-raised-button type="button" class="btn btn-info pull-right" (click)='edit()'>Editar</button> -->
                    <div class="clearfix"></div>
                  </div>
              </div>
            </div>
        </div>
    </div>
</div>