<ngx-content-loading 
[speed]="'1500ms'"
[width]="1000"
[height]="300"
[primaryColor]="'#fdc0a4'"
[secondaryColor]="'#fbc2c2'">
    <svg:g ngx-rect width="1000" height="10" y="10" x="0" rx="5" ry="5"></svg:g>
    <svg:g ngx-rect width="700" height="10" y="40" x="0" rx="5" ry="5"></svg:g>
    <svg:g ngx-rect width="800" height="10" y="70" x="0" rx="5" ry="5"></svg:g>
    <svg:g ngx-rect width="1000" height="10" y="100" x="0" rx="5" ry="5"></svg:g>
    <svg:g ngx-rect width="900" height="10" y="130" x="0" rx="5" ry="5"></svg:g>
    <svg:g ngx-rect width="1000" height="10" y="160" x="0" rx="5" ry="5"></svg:g>
    <svg:g ngx-rect width="700" height="10" y="190" x="0" rx="5" ry="5"></svg:g>
    <svg:g ngx-rect width="800" height="10" y="220" x="0" rx="5" ry="5"></svg:g>
    <svg:g ngx-rect width="1000" height="10" y="250" x="0" rx="5" ry="5"></svg:g>
    <svg:g ngx-rect width="900" height="10" y="280" x="0" rx="5" ry="5"></svg:g>
</ngx-content-loading>